@charset "UTF-8";

@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot");
  src: url("../font/fontello.eot?#iefix") format('embedded-opentype'), url("../font/fontello.woff") format('woff'), url("../font/fontello.ttf") format('truetype'), url("../font/fontello.svg#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  opacity: 0.7;
  text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); 
  line-height: 1em;
}

.icon-cog:before { content: '\2699'; } /* '⚙' */
.icon-ok:before { content: '\2713'; } /* '✓' */
.icon-cancel:before { content: '\2715'; } /* '✕' */
.icon-picture:before { content: '🌄'; } /* '\1f304' */
.icon-video:before { content: '🎬'; } /* '\1f3ac' */
.icon-user:before { content: '\e800'; } /* '' */
.icon-calendar:before { content: '📅'; } /* '\1f4c5' */

.icon-link {
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.icon-link:hover {color:#369}